<%- include ('nav.ejs') %>
<% if (msg) {%>
<div class="alert alert-danger" role="alert">
  <%= msg%>
</div>
<%}else if (register) {%>
<div class="alert alert-success" role="alert">
  <%= register%>
</div>
<%}else if (credential) {%>
<div class="alert alert-danger" role="alert">
  <%= credential%>
</div>
<%}%>  
<div class="container margin-30 col-md-6">
  <form method="POST" class="form-handle" action="/authenticate">
    <div>
      <h1 style="text-align: center;">LOGIN</h1>
      <hr><br>
      <div class="form-group col-lg-12 margin-30">
        <input type="text" id="userName" name="userName" class="form-control" placeholder="Enter User Name" />
      </div>
      <div class="form-group col-lg-12">
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" />
      </div>
      <div class="form-group" style="margin-left: 25%;">
        <input type="submit" value="LOGIN" class="btn btn-info col-lg-4" onclick="return checkValidateData();"
          style="margin:2% 0  2% 0;" />
        <button class="btn btn-danger col-lg-4" type="reset">CANCEL</button>
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
  function checkValidateData() {
    let userName = document.getElementById('userName').value;
    let password = document.getElementById('password').value;
    if (userName && password) {
      return true;
    } else {
      alert('Field should not be null');
      return false;
    }
  }
</script>
</body>

</html>