body {
  margin: 0;
}

.full-size {
  width: 100%;
}

.container {
  margin: 5% 0 0 25% !important;
  width: 900px;
  box-shadow: 0 0 10px grey;
  border: none;
}

.form-handle {
  padding: 10%;
}
.error {
  color: red!important;
}